<nav class="w3-bar-block w3-card w3-round-medium w3-hide-small">
    <h3 class="w3-bar-item w3-center w3-pink" style="margin: 0;">Menu</h3>
    <a href="/admin" class="w3-button w3-bar-item w3-hover-pink">Home</a>
    <a href="/admin/create" class="w3-button w3-bar-item w3-hover-pink">Criar produto</a>
    <a href="/admin/update" class="w3-button w3-bar-item w3-hover-pink">Atualizar Produto</a>
    <a href="/admin/delete" class="w3-button w3-bar-item w3-hover-pink">Excluir Produto</a>
    <a href="/admin/category/create" class="w3-button w3-bar-item w3-hover-pink">Criar Categoria</a>
    <a href="/admin/category/update" class="w3-button w3-bar-item w3-hover-pink">Atualizar Categoria</a>
    <a href="/admin/category/excluir" class="w3-button w3-bar-item w3-hover-pink">Excluir Categoria</a>
</nav>