<header class="w3-grid w3-pink">
    <img src="/img/header-logo.webp" alt="" id="header-logo">
    <h2 class="w3-center w3-hide-small">Promos da Flávia</h2>
    <button class="material-symbols-outlined w3-button w3-hide-medium w3-hide-large" id="menu-btn">menu</button>
</header>