<nav class="w3-sidebar w3-bar-block w3-card-2 w3-hide w3-animate-left w3-hide-medium w3-hide-large" id="sidebar">
    <a href="/admin" class="w3-button w3-bar-item w3-hover-pink">Home</a>
    <a href="/admin/create" class="w3-button w3-bar-item w3-hover-pink">Criar produto</a>
    <a href="/admin/update" class="w3-button w3-bar-item w3-hover-pink">Atualizar Produto</a>
    <a href="/admin/delete" class="w3-button w3-bar-item w3-hover-pink">Excluir Produto</a>
    <a href="/admin/category/create" class="w3-button w3-bar-item w3-hover-pink">Criar Categoria</a>
    <a href="/admin/category/update" class="w3-button w3-bar-item w3-hover-pink">Atualizar Categoria</a>
    <a href="/admin/category/excluir" class="w3-button w3-bar-item w3-hover-pink">Excluir Categoria</a>
</nav>