* {
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
}

#image-container {
    width: 250px;
    height: 280px;
    padding: 4px;
    margin: 16px auto 32px;
}

#product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

select#category {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-top: 8px;
    padding: 4px;
}

#image-input {
    margin-top: 8px;
}

.products-container {
    margin-top: 32px;
}

.table-img {
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: 200px auto;
        gap: 24px;
    }
}

@media screen and (min-width: 992px) {
    .update-product-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    #image-container {
        max-width: 250px;
        width: 100%;
        margin: 0;
    }

    #create-form {
        max-width: 600px;
        width: 100%;
    }
}