<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flávia</title>

    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=menu&display=block
">
</head>

<body>
    <%- include("./partials/sidebar.ejs") %>
        <%- include("./partials/header.ejs") %>

            <main class="w3-grid w3-padding">
                <%- include("./partials/aside.ejs") %>

                    <section id="creation-section">
                        <h2 class="w3-center">Criar produto</h2>

                        <div class="create-product-container">
                            <div class="w3-border" id="image-container">
                                <img src="" alt="Capa do produto" id="product-image">
                            </div>

                            <form action="/admin/create/new" method="post" enctype="multipart/form-data"
                                id="create-form">
                                <div class="w3-section">
                                    <label for="name">Nome do produto:</label>
                                    <input type="text" name="name" id="name" class="w3-input">
                                </div>

                                <div class="w3-section">
                                    <label for="price">Preço:</label>
                                    <input type="number" name="price" id="price" class="w3-input">
                                </div>

                                <div class="w3-section">
                                    <label for="url">Link:</label>
                                    <input type="url" name="url" id="url" class="w3-input">
                                </div>

                                <div class="w3-section">
                                    <label for="image-input">Image:</label>
                                    <input type="file" name="image-input" accept="image/*" id="image-input">
                                </div>

                                <div class="w3-section">
                                    <button type="submit" class="w3-button w3-pink">Criar</button>
                                </div>
                            </form>
                        </div>
                    </section>
            </main>
            <script src="/js/header.js"></script>
            <script src="/js/createProduct.js"></script>
</body>

</html>