<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flávia</title>

    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=menu&display=block
">
</head>

<body>
    <%- include("./partials/sidebar.ejs") %>
        <%- include("./partials/header.ejs") %>

            <main class="w3-grid w3-padding">
                <%- include("./partials/aside.ejs") %>

            </main>
            <script src="/js/header.js"></script>
</body>

</html>