header#page-header {
    grid-template-columns: 50px auto;
    /* height: 70px; */
}

#header-logo {
    margin-left: 8px;
    align-self: center;
}

#header-logo img {
    width: 50px;
    height: 50px;
}

/* introdução */
#page-introduction {
    min-height: 430px;
}

#intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tabs */
#tabs-container {
    margin-top: 80px;
}

.tab {
    height: 100%;
}

div.tabs-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* Tabs article */
.tab-img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.tab-article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#contact-links-container {
    margin-top: 32px;
    height: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

a.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 150px;
}

@media screen and (min-width: 600px) {
    #page-introduction {
        display: flex;
        flex-direction: row;
    }

    .intro-img-container {
        width: 50%;
    }
    .intro-content-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tab {
        display: grid;
        gap: 32px;
        grid-template-columns: 300px auto;
    }
}
