<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Fl치via</title>

    <link rel="stylesheet" href="/styles/main/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/promos-icon.webp" type="image/x-icon">
</head>

<body>
    <header class="w3-grid w3-pink" id="page-header">
        <a href="/" id="header-logo">
            <img src="/img/header-logo.webp" alt="">
        </a>
        <h2 class="w3-center">Promos da Fl치via</h2>
    </header>



    <footer id="footer" class="w3-container w3-pink w3-margin-top">
        <section class="footer-content">
            <div class="footer-header">
                <img src="/img/header-logo.webp" alt="Logo da p치gina" class="footer-img">
                <p class="w3-large">Promos da Fl치via</p>
            </div>

            <a href="#page-header" class="footer-btn w3-button w3-round-large w3-border w3-border-white">
                <span>
                    Voltar ao topo
                </span>
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>
            </a>
        </section>

        <section class="w3-margin-top w3-center w3-hide-small" id="goodbye-img-container">
            <img src="/img/index/despedida.webp" alt="" class="goodbye-img">
        </section>
    </footer>
</body>

</html>