body {
    background-color: white;
}

main {
    min-height: 100vh;
    gap: 16px;
}

#dashboard {
    justify-items: center;
    gap: 16px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: 200px auto;
    }
}

@media screen and (min-width: 993px) {
    #dashboard {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}