header {
    grid-template-columns: 50px auto 60px;
    height: 70px;
}

#header-logo {
    margin-left: 8px;
    align-self: center;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 600px) {
    header {
        grid-template-columns: auto 60px;
    }
}